-unless flash[:msg].blank?
  #flashmsg
    .msg 
      =flash[:msg]
    .ers
      %ul
        -unless @participant.errors[:name].blank?
          %li= "Name #{@participant.errors[:name]}"
        -unless @participant.errors[:phone_numbers].blank?
          %li= "Phone numbers #{@participant.errors[:phone_numbers]}"
        -unless @participant.errors[:email].blank?
          %li= "E-mail #{@participant.errors[:email]}"
%h1.heading
  %em Fill in this form
  and someone from
  %br
  &nbsp;&nbsp;&nbsp;&nbsp;the
  %em National Children&#39;s Study Greater Chicago Study Center
  will contact you
#sign_up
  = form_for :participant, :url => signup_create_url do |f|
    .req_fields_msg
      Asterisks (*) indicate a required field
    .group
      .name Your Name
      .fields
        .field.reg
          = f.label :name, "First and Last Name *", {:class => 'overlabel'}
          = f.text_field :name, {:size => 34, :maxlength => 150}
    .group
      .name Your Address
      .fields
        .field.reg
          = f.label :address, "Street Address", {:class => 'overlabel'}
          = f.text_field :address, {:size => 34, :maxlength => 150}
        .field.reg
          = f.label :apt_or_unit, "Apt or Unit #", {:class => 'overlabel'}
          = f.text_field :apt_or_unit, {:size => 34, :maxlength => 150}
        .field.city
          = f.label :city, {:class => 'overlabel'}
          = f.text_field :city, {:size => 34, :maxlength => 150}
        .sub_group
          .field.state
            = f.label :state, {:class => 'overlabel'}
            = f.text_field :state, {:size => 11, :maxlength =>50, :value => "Illinois"}
          .field.zip
            = f.label :zip, {:class => 'overlabel'}
            = f.text_field :zip, {:size => 11, :maxlength => 5} 
    .group
      .name Your phone numbers
      .fields
        .field.reg
          = f.label :home_phone, "Home phone *", {:class => 'overlabel'}
          = f.text_field :home_phone, {:size => 34, :maxlength => 150}
        .field.reg
          = f.label :mobile_phone, {:class => 'overlabel'}
          = f.text_field :mobile_phone, {:size => 34, :maxlength => 150}
        .field.reg
          = f.label :work_phone, {:class => 'overlabel'}
          = f.text_field :work_phone, {:size => 34, :maxlength => 150}
    .group
      .name Your e-mail
      .fields
        .field.reg
          = f.label :email, "E-mail", {:class => 'overlabel'}
          = f.text_field :email, {:size => 34, :maxlength => 150}
    .group  
      .name &nbsp;
      .fields
        .alt_field
          = f.label :contact_preference, "Preferred way to contact you?"
          = f.select :contact_preference, ["Call me", "Mail me a brochure", "Send me an e-mail"]
   
    .submit_area
      = link_to "Read our confidentiality statement", nil, {:href => "#",:id => "confd_show"}
      &nbsp;
      = f.submit "Submit", {:id => "signup_submit"}

#confd_msg{:title => "Confidentiality Notice"}
  Any information that you provide will be kept completely confidential  and private.  This information will only be used to contact you about  the National Children's Study.

